{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "trailingComma": "all",
  "singleQuote": true,
  "overrides": [
    {
      "files": [
        ".eslintrc.js",
        "babel.config.js"
      ],
      "options": {
        "singleQuote": false
      }
    }
  ]
}